{% extends "auth/auth_base.html" %}
{% block head %}
{% endblock %}
{% block title %}
    {% if title %}
        {{ title }}
    {% endif %}
{% endblock %}

{% block auth_content %}
    <h1 class="auth-heading text-text-light dark:text-text-dark">Sign up</h1>
    <form
        class="space-y-4 md:space-y-6"
        action=""
        method="post"
        novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.email(class_="auth-input", placeholder="email") }}
            {% for error in form.email.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <div>
            {{ form.username(class_="auth-input",size=32, placeholder="username" ) }}
            {% for error in form.username.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <p>
            {{ form.password(class_="auth-input", placeholder="password") }}
            {% for error in form.password.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password2(class_="auth-input", placeholder="repeat password") }}
            {% for error in form.password2.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        {{ form.submit(class_="auth-submit") }}
        <p class="text-center text-base font-light">
            <a
                href="{{ url_for('security.login') }}"
                class="font-medium text-blue-600 hover:underline"
                >Log in</a
            >
        </p>
    </form>
{% endblock %}
