<div class="flex w-full items-center justify-between">
    <a
        hx-boost="true"
        hx-target="#content"
        href="{{ url_for('first.index') }}"
        class="group flex items-center gap-1">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            class="size-4 stroke-current stroke-2 transition-transform group-hover:-translate-x-1">
            <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
        </svg>
        <span>first</span>
    </a>
</div>
