.env
node_modules
backups/

__pycache__/
.vscode/
env

logs/
backup.sh
.venv/

.mypy_cache/
.DS_Store
instance/
uploads/
raw_data/
preprocessed/
clean_data/

# Build artifacts
app/static/js/build/

# Generated CSS files
app/static/css/build/
