<tr
    class="hover:bg-base-300 relative transition-colors duration-500 ease-out"
    id="file-row-{{ file.uuid }}">
    <td class="font-medium">
        <a
            class="link link-hover font-semibold"
            href="{{ url_for('first.preview_file', uuid=file.uuid) }}">
            {{ file.name }}
        </a>
    </td>
    <td>
        {% if file.user.id == current_user.id %}
            you
        {% else %}
            <a
                class="link link-hover font-semibold"
                href="{{ url_for('users.profile', username=file.user.username) }}"
                >{{ file.user.username }}</a
            >
        {% endif %}
    </td>
    <td>
        {% if file.preprocessed %}
            <div class="badge badge-success badge-sm badge-soft">
                preprocessed
            </div>
        {% endif %}
        {% if file.enriched %}
            <div class="badge badge-info badge-sm badge-soft">enriched</div>
        {% endif %}
    </td>

    <td>{{ file.size_mb }} MB</td>
    <td>{{ moment(file.created_at).format('YYYY-MM-DD HH:mm') }}</td>
</tr>
