{% extends 'base.html' %}
{% block top_bar %}
    <div class="flex w-full items-center justify-between text-blue-600">
        <a href="{{ url_for('main.index') }}">
            <div class="flex items-center">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    class="size-7 stroke-2">
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M15.75 19.5 8.25 12l7.5-7.5" />
                </svg>
                <span>first</span>
            </div>
        </a>
    </div>
{% endblock %}
{% block content %}
    <div class="mb-3">
        <span class="text-3xl font-bold">Settings</span>
    </div>
    <ul class="menu bg-base-200 rounded-box flex w-full flex-col gap-2 p-2">
        <li>
            <a
                href="{{ url_for('security.change_password') }}"
                class="link link-hover link-info"
                >Change Password</a
            >
        </li>
        <li>
            <a
                href="{{ url_for('security.logout') }}"
                class="link link-hover link-error"
                >Logout</a
            >
        </li>
    </ul>
{% endblock %}
