{% set title = title|default(_fsdomain("Reset password")) %}
{% extends "security/base.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field, render_field_errors, render_form_errors %}

{% block content %}
    <form
        action="{{ url_for_security('reset_password', token=reset_password_token) }}"
        method="post"
        name="reset_password_form">
        <fieldset
            class="fieldset bg-base-200 border-base-300 rounded-box mx-auto mt-10 w-xs gap-5 border p-8 sm:w-sm">
            <legend class="fieldset-legend">
                {{ _fsdomain('Reset password') }}
            </legend>

            {{ reset_password_form.hidden_tag() }}
            {{ render_form_errors(reset_password_form) }}

            <label class="floating-label input">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="size-5 opacity-50">
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M15.75 5.25a3 3 0 0 1 3 3m3 0a6 6 0 0 1-7.029 5.912c-.563-.097-1.159.026-1.563.43L10.5 17.25H8.25v2.25H6v2.25H2.25v-2.818c0-.597.237-1.17.659-1.591l6.499-6.499c.404-.404.527-1 .43-1.563A6 6 0 1 1 21.75 8.25Z" />
                </svg>
                <span>Password</span>
                {{ reset_password_form.password(placeholder='Password', autocomplete='new-password') }}
            </label>

            {% if reset_password_form.password.errors %}
                <ul>
                    {% for error in reset_password_form.password.errors %}
                        <li class="text-error">{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <label class="floating-label input">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="size-5 opacity-50">
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M15.75 5.25a3 3 0 0 1 3 3m3 0a6 6 0 0 1-7.029 5.912c-.563-.097-1.159.026-1.563.43L10.5 17.25H8.25v2.25H6v2.25H2.25v-2.818c0-.597.237-1.17.659-1.591l6.499-6.499c.404-.404.527-1 .43-1.563A6 6 0 1 1 21.75 8.25Z" />
                </svg>
                <span>Password</span>
                {{ reset_password_form.password_confirm(placeholder='Confirm Password', autocomplete='new-password') }}
            </label>

            {% if reset_password_form.password_confirm.errors %}
                <ul>
                    {% for error in reset_password_form.password_confirm.errors %}
                        <li class="text-error">{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% if reset_password_form.csrf_token.errors %}
                {{ render_field_errors(reset_password_form.csrf_token) }}
            {% endif %}
            {{ reset_password_form.submit(class='btn btn-primary shadow') }}
        </fieldset>
    </form>
{% endblock content %}
