@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
    name: "dark";
    default: false;
    prefersdark: true;
    color-scheme: "dark";
    --color-base-100: oklch(0% 0 0);
    --color-base-200: oklch(14% 0.005 285.823);
    --color-base-300: oklch(26% 0 0);
    --color-base-content: oklch(96% 0.003 264.542);
    --color-primary: oklch(62% 0.214 259.815);
    --color-primary-content: oklch(100% 0 0);
    --color-secondary: oklch(60% 0.25 292.717);
    --color-secondary-content: oklch(27% 0.077 45.635);
    --color-accent: oklch(62% 0.194 149.214);
    --color-accent-content: oklch(26% 0.065 152.934);
    --color-neutral: oklch(44% 0.03 256.802);
    --color-neutral-content: oklch(98% 0.002 247.839);
    --color-info: oklch(62% 0.214 259.815);
    --color-info-content: oklch(100% 0 0);
    --color-success: oklch(76% 0.177 163.223);
    --color-success-content: oklch(26% 0.051 172.552);
    --color-warning: oklch(82% 0.189 84.429);
    --color-warning-content: oklch(27% 0.077 45.635);
    --color-error: oklch(70% 0.191 22.216);
    --color-error-content: oklch(25% 0.092 26.042);
    --radius-selector: 0.4rem;
    --radius-field: 0.5rem;
    --radius-box: 0.5rem;
    --size-selector: 0.21875rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 0;
}

@plugin "daisyui/theme" {
    name: "ron";
    default: true;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: oklch(100% 0 0);
    --color-base-200: oklch(98.69% 0.0025 228.78);
    --color-base-300: oklch(92% 0.004 286.32);
    --color-base-content: oklch(32.44% 0.0229 264.18);

    --color-primary: oklch(75.25% 0.0988 237.71);
    --color-primary-content: oklch(100% 0 0);
    --color-secondary: oklch(69% 0.17 162.48);
    --color-secondary-content: oklch(97% 0.021 166.113);
    --color-accent: oklch(79% 0.184 86.047);
    --color-accent-content: oklch(98% 0.026 102.212);
    --color-neutral: oklch(45.23% 0.0352 264.13);
    --color-neutral-content: oklch(98% 0 0);
    --color-info: oklch(0.707 0.022 261.325);
    --color-info-content: oklch(97% 0.014 254.604);
    --color-success: oklch(76.83% 0.0749 131.06);
    --color-success-content: oklch(98% 0.031 120.757);
    --color-warning: oklch(68% 0.162 75.834);
    --color-warning-content: oklch(98% 0.026 102.212);
    --color-error: oklch(60.61% 0.1206 15.34);
    --color-error-content: oklch(97% 0.014 343.198);

    --radius-selector: 2rem;
    --radius-field: 2rem;
    --radius-box: 0.5rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1.5px;
    --depth: 1;
    --noise: 0;
}

@theme {
    --font-sans: Inter var, ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";

    --color-background-light: #f4f4f5;
    --color-background-dark: #000000;

    --color-text-light: #000000;
    --color-text-dark: #ffffff;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentcolor);
    }
}

@utility tile {
    @apply rounded-lg bg-white p-2 md:p-5 dark:bg-zinc-900;
}

@utility quote {
    @apply rounded-md bg-slate-900 p-4 text-gray-400 shadow-md;
}

@utility auth-input {
    @apply dark:text-text-dark block w-full rounded-2xl border p-2.5 py-2 text-center focus:border-blue-500 focus:ring-2 focus:ring-blue-400 focus:outline-hidden sm:text-sm dark:border-gray-600 dark:bg-gray-700 dark:placeholder-gray-400 dark:focus:ring-blue-800;
}

@utility auth-submit {
    @apply w-full rounded-2xl bg-blue-600 px-5 py-2.5 text-center text-base font-medium text-white hover:bg-sky-900 focus:ring-2 focus:ring-blue-800 focus:outline-hidden;
}

@utility auth-heading {
    @apply mx-auto text-center text-xl leading-tight font-bold tracking-tight text-white md:text-2xl;
}
