{% macro content() %}
    <div class="flex flex-1 flex-col">
        <div class="breadcrumbs mb-4 text-sm">
            <ul>
                <li>
                    <a
                        href="{{ url_for('first.index') }}"
                        hx-boost="true"
                        hx-target="#content"
                        hx-swap="show:window:top">
                        Files
                    </a>
                </li>
                <li>
                    <a
                        href="{{ url_for('first.preview_file', uuid=job.uploaded_file.uuid) }}"
                        hx-boost="true"
                        hx-target="#content"
                        hx-swap="show:window:top">
                        {{ job.uploaded_file.name }}
                    </a>
                </li>
                <li>Graph</li>
            </ul>
        </div>

        <div class="bg-secondary text-secondary-content mb-6 rounded-lg p-4">
            <div class="flex items-start justify-between">
                <div class="flex-1">
                    <h3 class="mb-2 text-xl font-bold">
                        {{ job.uploaded_file.name }}
                    </h3>
                    <div class="grid grid-cols-2 gap-4 text-sm md:grid-cols-4">
                        <div>
                            <span class="badge badge-success"
                                >{{ job.status }}</span
                            >
                        </div>
                        <div>
                            <span class="font-semibold"
                                >{{ job.final_nodes }}</span
                            >
                            Nodes
                        </div>
                        <div>
                            <span class="font-semibold">
                                {{ job.final_edges }}
                            </span>
                            <span class="">edges</span>
                        </div>
                        <div>
                            <span class="font-semibold"
                                >{{ job.time_periods }}</span
                            >
                            Weeks
                        </div>
                    </div>
                </div>
                <div class="ml-4">
                    {% set published = job.published %}
                    {% set job_id = job.uuid %}
                    {% include 'first/partials/_publish_button.html' %}
                </div>
            </div>
        </div>

        <div class="relative flex flex-1 flex-col overflow-hidden">
            <div
                id="graph-container"
                class="bg-base-100 relative m-[1px] flex-1 overflow-hidden rounded-lg ring-1 inset-shadow-sm/15 ring-black/5">
                <div class="skeleton h-full w-full"></div>
            </div>

            {% include 'partials/graph_tooltip.html' %}
            {% include 'partials/graph_controls.html' %}
        </div>
    </div>
    <script type="module">
        import { createGraph } from "{{ url_for('static', filename='js/build/graph-preview.js') }}";

        // Initialize the graph when ready
        createGraph({
            jobId: "{{ job.uuid }}",
            nodesUrl: `{{ url_for('first.graph_nodes_data', job_id=job.uuid) }}`,
            edgesUrl: `{{ url_for('first.graph_edges_data', job_id=job.uuid) }}`,
            defaultNodeColor: "#3b82f6",
        });
    </script>
{% endmacro %}

{% if htmx.boosted %}
    <title>{{ title }}</title>

    {% include 'partials/_back_top_bar.html' %} {{ content() }}
{% else %}
    {% extends 'base.html' %}
    {% block content %}
        {{ content() }}
    {% endblock %}
{% endif %}
