<nav
    class="bg-base-200/60 fixed bottom-0 z-20 flex w-full flex-col items-center pt-1 pb-[calc(env(safe-area-inset-bottom)+4px)] text-gray-500 shadow-xl backdrop-blur-md">
    <ul
        hx-boost="true"
        class="flex w-full max-w-md flex-row items-center justify-around px-4 text-xs">
        <li class="flex-1">
            <a
                href="{{ url_for('second_page.index') }}"
                hx-target="#content"
                class="flex flex-col items-center"
                id="second">
                <svg
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    class="size-6 fill-transparent stroke-current">
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M9.568 3H5.25A2.25 2.25 0 0 0 3 5.25v4.318c0 .597.237 1.17.659 1.591l9.581 9.581c.699.699 1.78.872 2.607.33a18.095 18.095 0 0 0 5.223-5.223c.542-.827.369-1.908-.33-2.607L11.16 3.66A2.25 2.25 0 0 0 9.568 3Z" />
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M6 6h.008v.008H6V6Z" />
                </svg>
                <span>Second Page</span>
            </a>
        </li>
        <li class="flex-1">
            <a
                href="{{ url_for('first.index') }}"
                hx-target="#content"
                class="flex flex-col items-center"
                id="first">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    class="size-6 stroke-current">
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M3.75 12h16.5m-16.5 3.75h16.5M3.75 19.5h16.5M5.625 4.5h12.75a1.875 1.875 0 0 1 0 3.75H5.625a1.875 1.875 0 0 1 0-3.75Z" />
                </svg>
                <span>first</span>
            </a>
        </li>
        <li class="flex-1">
            <a
                href="{{ url_for('users.index') }}"
                class="flex flex-col items-center"
                id="users">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    class="size-6 fill-transparent stroke-current">
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M15 19.128a9.38 9.38 0 0 0 2.625.372 9.337 9.337 0 0 0 4.121-.952 4.125 4.125 0 0 0-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 0 1 8.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0 1 11.964-3.07M12 6.375a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0Zm8.25 2.25a2.625 2.625 0 1 1-5.25 0 2.625 2.625 0 0 1 5.25 0Z" />
                </svg>

                <span>Users</span>
            </a>
        </li>
    </ul>
</nav>
<script>
    let title = document.title;
    // color the svg icon of the current page
    let currentPage = document.getElementById(title);

    if (currentPage) {
        currentPage.classList.add("text-blue-500");
    }
</script>
