{% extends 'base_base.html' %}
{% block body %}
    <body
        class="h-screen touch-pan-y touch-manipulation scroll-smooth pt-[env(safe-area-inset-top)] font-sans text-base">
        <!-- nav bar for screens larger than 1024px -->
        {% include 'partials/_top_nav.html' %}

        <div
            id="top-bar"
            class="fixed top-0 z-20 flex h-[calc(env(safe-area-inset-top)+40px)] w-full items-center justify-center px-4 pt-[env(safe-area-inset-top)] text-gray-500 backdrop-blur-md lg:hidden lg:h-[calc(env(safe-area-inset-top)+70px)]">
            {% block top_bar %}{% endblock %}
        </div>
        <div
            id="content"
            class="mx-auto flex min-h-full max-w-7xl flex-col px-4 pt-12 pb-[calc(env(safe-area-inset-bottom)+88px)] lg:pt-2">
            {% block content %}
            {% endblock %}
        </div>
        {% include 'partials/_flash-messages.html' %}
        {%
            include
            'partials/_bottom_nav.html'
        %}
    </body>
{% endblock %}
