{% extends 'base_base.html' %}

{% block head %}
<style>
  .loading-bar {
    background: linear-gradient(90deg, transparent, #000, transparent, #000, transparent);
  }

  .htmx-request.loading-bar {
    opacity: 1;
    animation: fadeIn 0.3s linear forwards, slide 0.8s ease-in-out infinite;
  }

  @keyframes slide {
    0% {
      transform: translateX(-100%);
    }

    100% {
      transform: translateX(100%);
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    50% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
</style>

{% endblock %} {% block body %}


<body class="h-screen touch-pan-y touch-manipulation scroll-smooth bg-slate-800 pt-[env(safe-area-inset-top)] font-sans text-base"
      hx-indicator=".loading-bar">

  <div
       class="fixed top-0 z-20 flex h-[calc(env(safe-area-inset-top)+40px)] pt-[env(safe-area-inset-top)] container -translate-x-1/2 left-1/2 items-center bg-slate-800/60 pt-30 text-gray-400  backdrop-blur-md px-1">
    {% block top_bar %}
    {% endblock %}
  </div>
  <div id="body-container"
       class="container mx-auto pb-[calc(env(safe-area-inset-bottom)+56px)] pt-12 lg:pt-12 px-4">
    <div id="content" class=" text-white">
      {% block content %}

      {% endblock %}
    </div>
  </div>
  {% include 'partials/_flash-messages.html' %}
  {% include 'partials/_bottom_nav.html' %}
</body>
{% endblock %}